/* Main Page Styles */

html {
  background-color: #343a40;
}

.App {
  text-align: center;
}

 #nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}


.navLink{
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-weight: 700;
}

header p {
  margin: 0;
  width: 4.5%;
  text-align: right;
  font-size: .7rem;
}

#showcase {
  position: relative;
  height: 60vh;
  width: 100vw !important;
  background: url('../src/img/live_music.jpg') no-repeat;
  background-position: 50% 60%;
  margin-bottom: 30px;
}

#app-title {
  color: #fff;
  text-align: center;
}

#main {
  text-align: center;
  margin: 0 auto;
  max-width: 100vw !important;
}

/* Input */

form {
  height: 50px;
  position: relative;
}

#userInput {
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

#submit-btn {
  padding: 12px;
  position: relative;
  top: -1.5px;
  border-radius: 3px;
  background-color: #9E7A45;
  color: #fff;
  border: none;
  font-size: 0.8rem;
}

#cityName {
  color: #fff;
}

/* Displayed Results */

#list {
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* grid-column-gap: 10vw; */
}

.event {
  width: 300px;
  height: 240px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}

#loading {
  color: #fff;
  font-size: 1.5rem;
}

/* About/Contact Pages */

.pageTitle {
  color: #fff;
  text-align: center;
}

.pageInfo {
  color: whitesmoke;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-links {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.contact-link {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.contact-link:hover {
  color: lightgrey;
}

/* Media Queries */

@media(max-width: 1080px){
  #list {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media(max-width: 750px){
  #list {
    grid-template-columns: 1fr;
  }

  .event {
    width: 60vw;
  }
}