html {
  background-color: #343a40;
}

.App {
  text-align: center;
}

#list {
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.event {
  width: 300px;
  height: 240px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}